In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from glob import glob

In [3]:
fileslist = glob('datasets/*.csv')
fileslist.sort()

In [4]:
# computing largest contiguous segment
fpath = fileslist[0]
df = pd.read_csv(fpath, index_col=[0], parse_dates=True)
df

                     Monitor_01
timestamp_round
2018-03-01 00:00:00   36.953389
2018-03-01 00:15:00   38.771572
2018-03-01 00:30:00   42.463675
2018-03-01 00:45:00   45.901771
2018-03-01 01:00:00   46.963135
2018-03-01 01:15:00   49.412439
2018-03-01 01:30:00   53.902829
2018-03-01 01:45:00   54.909765
2018-03-01 02:00:00   58.012218
2018-03-01 02:15:00   60.733667
2018-03-01 02:30:00   62.248606
2018-03-01 02:45:00   61.132811
2018-03-01 03:00:00   57.295571
2018-03-01 03:15:00   55.553841
2018-03-01 03:30:00   57.985002
2018-03-01 03:45:00   53.721400
2018-03-01 04:00:00   38.635500
2018-03-01 04:15:00   33.110960
2018-03-01 04:30:00   35.124832
2018-03-01 04:45:00   37.809996
2018-03-01 05:00:00   43.915113
2018-03-01 05:15:00   39.152578
2018-03-01 05:30:00   33.990896
2018-03-01 05:45:00   29.618435
2018-03-01 06:00:00   26.080552
2018-03-01 06:15:00   21.000513
2018-03-01 06:30:00   15.685442
2018-03-01 06:45:00         NaN
2018-03-01 07:00:00         NaN
2018-03-01 07:15:00         NaN
...                         ...
2018-09-25 07:00:00   39.727525
2018-09-25 07:15:00   41.863415
2018-09-25 07:30:00   39.727525
2018-09-25 07:45:00   37.164459
2018-09-25 08:00:00   40.581879
2018-09-25 08:15:00   61.086411
2018-09-25 08:30:00   74.328917
2018-09-25 08:45:00   72.193027
2018-09-25 09:00:00   55.533097
2018-09-25 09:15:00   48.698256
2018-09-25 09:30:00   53.824388
2018-09-25 09:45:00   56.814630
2018-09-25 10:00:00   55.533097
2018-09-25 10:15:00   57.241812
2018-09-25 10:30:00   49.979789
2018-09-25 10:45:00   53.397212
2018-09-25 11:00:00   49.125432
2018-09-25 11:15:00   53.824388
2018-09-25 11:30:00   57.668988
2018-09-25 11:45:00   52.542855
2018-09-25 12:00:00   56.814630
2018-09-25 12:15:00   54.251564
2018-09-25 12:30:00   57.241812
2018-09-25 12:45:00   52.542855
2018-09-25 13:00:00   59.377697
2018-09-25 13:15:00   60.232054
2018-09-25 13:30:00   54.678745
2018-09-25 13:45:00   59.804878
2018-09-25 14:00:00   60.232054
2018-09-25 14:15:00    7.698688

[20026 rows x 1 columns]

In [16]:
index_start_final = index_end_final = None
count_final = 0
index_start = index_end = None
count = 0
state = False
for tup in df.itertuples():
    if ~np.isnan(tup[1:]).any():
        count += 1
        if state == False:
            # entering a contiguous region
            state = True
            index_start = tup[0]
            index_end = tup[0]
        else:
            # already in a contiguous region
            index_end = tup[0]
    else:
        if state == True:
            # end of a contiguous region
            state = False
            if count > count_final:
                count_final = count
                index_start_final = index_start
                index_end_final = index_end
                count = 0
                index_start = index_end = None

In [17]:
index_start_final, index_end_final, count_final

(Timestamp('2018-03-22 12:45:00'), Timestamp('2018-07-09 03:00:00'), 10426)

In [18]:
index_start_final.isoformat()

'2018-03-22T12:45:00'

In [19]:
import os

fout = open('kNN_availability.csv', 'w')
for fpath in fileslist:
    df = pd.read_csv(fpath, index_col=[0], parse_dates=True)
    index_start_final = index_end_final = None
    count_final = 0
    index_start = index_end = None
    count = 0
    state = False
    for tup in df.itertuples():
        if ~np.isnan(tup[1:]).any():
            count += 1
            if state == False:
                # entering a contiguous region
                state = True
                index_start = tup[0]
                index_end = tup[0]
            else:
                # already in a contiguous region
                index_end = tup[0]
        else:
            if state == True:
                # end of a contiguous region
                state = False
                if count > count_final:
                    count_final = count
                    index_start_final = index_start
                    index_end_final = index_end
                    count = 0
                    index_start = index_end = None
    fout.write('{},{},{},{}\n'.format(os.path.split(fpath)[1][:-4], index_start_final.isoformat(), index_end_final.isoformat(), count_final))
fout.close()